body {
    background-color: #F1F1F1;
}

svg .land {
    stroke-width: 1;
    stroke: #FFF;
    transition: all 0.2s ease-in-out;
}
svg .land:hover , .land.active {
    cursor: pointer;
    stroke-width: 1;
    stroke: #FFF;
	z-index:99;
	position: relative;
	fill: #4A90E2;
}

.regionlist {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    margin-bottom: 15px;
}
.regionlist > div {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #CCC;
	padding: 5px 10px;
	font-size: 12px;
    transition: all 0.2s ease-in-out;
}

.regionlist > div.active {
    background-color: #4A90E2;
	color: #FFF;
}

.regionlist > div > div {
    display: inline-block;
    width: 48%;
}

.scale {
    position: relative;
}
.scale div {
    width: 9.07%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

btn {
    margin-bottom: 15px;
}
